<div class="wrapper wrapper-content" ng-controller="companyCtrl">
    <!-- END OF FRAME ! Sample Data below -->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Companies</h5>
                </div>
                <div class="ibox-content">
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="full-height-scroll">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Name</th>
                                                <th>Industry</th>
                                                <th>Description</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="company in getCompanies">
                                                <td class="client-avatar"><img alt="image" src="assets/images/a2.jpg"> </td>
                                                <td><a data-toggle="tab" href="#contact-1" class="client-link">{{company.name}}</a></td>
                                                <td> {{company.industry}} </td>
                                                <td> {{company.description}}</td>
                                                <td> <a href="#" class="btn btn-primary">Connect</a> </td>
                                            </tr>
                                            <tr>
                                                <td class="client-avatar"><img alt="image" src="assets/images/a3.jpg"> </td>
                                                <td><a data-toggle="tab" href="#contact-1" class="client-link">Netflix</a></td>
                                                <td> Entertainment </td>
                                                <td> Movies in an instant </td>
                                                <td> <a href="#" class="btn btn-primary">Connect</a> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
